.header {
  height: 120px;
  width: 100%;
  position: absolute;
  padding: 60px 0 60px 0;
  background: none;

  & a {
    text-decoration: none;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 187px;
    text-align: center;
    letter-spacing: 0.06em;
  }

  &__subtitle {
    margin-top: 10px;
    font-family: "Arial", sans-serif;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #fff;
    &_pets {
      color: #292929;
    }
  }

  &_pets {
    background: #fff;
    padding: 30px 0 0 0;
    position: sticky;
    top: 0;
    z-index: 10;
  }
}
.statik {
  position: static;
}
